*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .img-start{
        height: 250px;
        width: 450px;
        border: 2px solid crimson ;
    }
    .img-button{
        height: 50px;
        width: 150px;
    }
    #img-master{
        border: 3px #e29518;
    }
    .relative{
        background: #ab7070;
        width: 500px;
        height: 500px;
    }
    .abolute{
        background: #cea2a2;
        width: 100px;
        height: 100px;
    }